<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h4>מתכון </h4>
    <%= f.text_field :name, :cols => "90", :rows => "10", :wrap => "hard" %>
  </div>
  <div class="field" text-align="start">
    <h4>מרכיבים</h4>
    <%= f.text_area :ingredients, :cols => "90", :rows => "10", :wrap => "hard" %>
  </div>
  <div class="field">
    <h4>שלבי ההכנה</h4>
    <%= f.text_area :content, :cols => "90", :rows => "10", :wrap => "hard"%>
  </div>
  <div class="field">
    <h4>תמונה</h4>
    <%= f.file_field :picture %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
