<p id="notice"><%= notice %></p>

<h1>
  <strong><%= @recipe.name %></strong>
</h1>

<p>
<h4>
  <strong>אבא תקנה בסופר</strong>
  <%= simple_format @recipe.ingredients %>
</h4>
</p>

<p>
<h4>
  <strong>אוקיי, מה עכשיו?</strong>
  <%= simple_format @recipe.content %>
</h4>
</p>

<p>
  <%= image_tag(@recipe.picture_url, :width => 600) if @recipe.picture.present? %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
